body {
	font-family: Arial;
}


#info {
    float: right;
}

// Your code...

.selector {
	&__list {
		float: left;
		list-style: none;
		width: 200px;
		margin-top: 1rem;
	}
	&__item {
		display: block;
		line-height: 2rem;
		padding: 0 .5rem;
		cursor: pointer;
		&.active {
			background: #ccc;
		}
	}
	&__button {
		margin-top: 5rem;
		margin-left: 5rem;
		float: left;
	}
}